{% extends 'base.html.twig' %}

{% block title %}Accéder à UpToShare
{% endblock %}

{% block body %}
        <body>
        <div id="container">
            <!-- zone de connexion -->

            <form action="" method="POST">
                <h1>Connexion</h1>

                <label><b>Nom d'utilisateur</b></label>
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

                <label><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrer le mot de passe" name="password" required>

                <input type="submit" id='submit' value='Se connecter' >
                <a href="{{ path('app_inscription') }}" style="list-style-type: none; text-decoration: none;display: block">Vous n'avez pas de compte, inscrivez-vous ici</a>
            </form>
        </div>
        </body>
{% endblock %}